:root {
    --app-max-width: 1200px;
}

html,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
    max-width: var(--app-max-width);
    margin-inline: auto;
    padding: 16px;
}